/*
	Featured Content Slider
	by: Chris Coyier
*/

/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }

/*
	PAGE STRUCTURE
*/
#page-wrap 									{ height:340px; width: 565px; margin-left:15px; position: relative; background:#FFF; border: solid 1px #d6d6d6; margin-top:15px; padding-top:15px;}


/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 500px; position: absolute; left: 31px;  font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.slider-wrap a								{ color: #729dff; text-decoration: none; }
.slider-wrap a:hover						{ color: white; }
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 500px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 500px; }
.panel img									{ border:solid 1px #000; width:498px; height:282px; border-bottom:none; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; 											
											/* CSS3 */
												-webkit-box-shadow: 0 0px 5px #666;
												-moz-box-shadow:0 0px 5px #666;
												box-shadow:0 0px 5px #666;
											/* ------ */}
#movers-row									{ margin: 0 0 0 0; }
#movers-row div								{ float: left; padding-right: 20px; }
#movers-row div.cross-link 		 			{ float: right; }
.photo-meta-data							{ background: url(../images/transpBlack.png); padding: 10px; height: 30px; margin-top: -50px; position: relative; z-index: 998; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; position: relative; padding-top: 15px; z-index: 998; }
.active-thumb 								{ background: transparent url(../images/icon-uparrowsmallwhite.png) top center no-repeat; top:1px; }






