@charset "utf-8";
/* CSS Document */

body{padding:0; margin:0;}

.side-title{background:url(../images/side-title.png) no-repeat; position:relative; height:31px; margin-top:15px; width:252px;}
.side-title-text{position:relative; font-family:Verdana; font-weight:bold; font-size:11px; color:#FFF; top:10px; width:101px; text-align:center;}
.side-content{background:url(../images/side-content.png) repeat-y; height:auto; width:249px; position:relative; padding-bottom:10px; margin-left:3px;}


